.editButton {
  background-color: #0076ee;
  color: #ffffff;
  border: none;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.filterByAccount, .filterByStudent{
  background-color: #ffffff;
  height : 2.7em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  width : 100%;
}

#account:hover {
  background-color: #6f42c1;
  color: #ffffff;
}

#student:hover {
  background-color: #6f42c1;
  color: #ffffff;
}
