.buttonStyle{
    border: none;
    padding: 10px 50px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin-right:16px;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    -moz-box-shadow:    -3px 0 2px 0 #575757;
    -webkit-box-shadow: -3px 0 2px 0 #575757;
    box-shadow:         -3px 0 2px 0 #575757;
}

.buttonStyle:focus {
    background-color: #673ab7;
    color: #ffffff;
    border: none;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    -moz-box-shadow:    -3px 0 2px 0 #3f3075;
    -webkit-box-shadow: -3px 0 2px 0 #3f3075;
    box-shadow:         -3px 0 2px 0 #3f3075;
  }
  
  .buttonStyle:hover:not(.active) {
    background-color: #7930f7;
    border-radius: 1em 1em 1em 1em;
    border-bottom: 0.5px solid #835fc2;
    border-top: 0.5px solid #ffffff;
  }

  .input-text{
    border: 1px solid #eee;
    box-shadow: 2px 2px 2px 2px #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
}

.input-text-a {
  width: 350px;
  height: 10px;
}

.input-text-b {
  width: 350px;
  height: 80px;
}

/* .btn-default.btn-on.active{background-color: #673ab7;color: #ffffff;}
.btn-default.btn-off.active{background-color: #673ab7;color: #ffffff;}

.hideRadio{
  display: none;
} */


.userType{
  border-radius: 5px 5px 5px 5px;
  background-color: #ffffff;
  border: 2px solid #333333;
  border-width: thin;
  height : 2em;
  width : 10em;
}

#userType:hover {
  background-color: #6f42c1;
  color: #ffffff;
}