.cardPending {
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    left: 1%;
    background-color: #daf7d8;
    border-radius: 10px 10px 10px 10px;
  }

  .search {
    &__title {
        font-size: 2px;
        font-weight: 900;
        text-align: center;
        color: #ff8b88;
    }
    
    &__input {
        width: 100%;
        padding: 5px 10px;

        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
        
        color: #575756;
        background-color: transparent;
/*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */
 
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 5px;
        // border: 1px solid #575756;
        height : 2.7em;
        display: inline-block;
        border: 1px solid #ccc;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        
        // &::placeholder {
        //     color: color(#07e913 a(0.8));
        //     text-transform: uppercase;
        //     letter-spacing: 1.5px;
        // }
        
        &:hover,
        &:focus {
            padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #575756;
            border-radius: 0;
            background-position: 100% center;
        }
    }
}


#saveEditOrder{
    border: none;
    outline: none;
    padding: 6px 20px;
    // font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #673ab7;
  }
  
  /* On mouse-over */
  #saveEditOrder:hover {background: #673ab7; color: #d0cdd4}
  .saveEditOrder {color: #673ab7; outline: none;}
  #closeEditOrder {
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 6px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #d0cdd4;
    background-color: white;
  }
  #closeEditOrder:hover {background: #673ab7; color: #ffffff}

  .closePopUp{
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    outline: none;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    &:focus {
      outline: none;
    }
  }
  
      .model-scroll {
        height: 300px; 
        overflow-y: auto;
        overflow-x: hidden;
      }
      // pop width for Category 
      .modal-food {
        max-width: 40% !important;
      }
      // pop width for Menu items 
      .modal-items{
        max-width: 70% !important;
        left: 4.5%;
      }
      
      .swal2-container {
        z-index: 10000;
      }