.btn-color {
  background: #673ab7;
  color: #ffffff;
}
.btn-color:focus {
  background: #3f2075;
}
.btn-text-color {
  color: #673ab7;
}
.logout-icon {
    font-size : 20px;
    color : #ffffff;
    float: right;
}

/* Nav Satrts here*/
.navbar {
  padding:0rem;
}


.navbar-default {
  background-color: #673ab7;
  height: 80px;
}

.navbar-custom {
  background-color: #4b258d;
}

/* Sidebar Starts here */
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

/*Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
  }
}
  #body-row {
    margin-left:0;
    margin-right:0;
  }
  #sidebar-container {
      width: 210px;
      background-color: #ffffff;
      position: fixed;
      height: 100%;
      -moz-box-shadow:    -3px 0 5px 0 #3f3075;
      -webkit-box-shadow: -3px 0 5px 0 #3f3075;
      box-shadow:         -3px 0 10px 0 #3f3075;
      min-height: 100vh;
      padding: 0;
    }
    
    /* Sidebar sizes when expanded and expanded */
    .sidebar-expanded {
      width: 230px;
      bottom: 50px;
      top: 51px;
      bottom: 50px;
      overflow-y: scroll;
  }
  .sidebar-collapsed {
    width: 60px;
  }
  
  /* Menu item*/
  #sidebar-container .list-group a {
    height: 55px;
    color: #000000;
    background-color: #ffffff;
  }
  
  #sidebar-container a:hover:not(.active) {
    background-color: rgb(60, 55, 117);;
    color: white;
    border-bottom: 3px solid #673ab7;
    border-top: 3px solid #ffffff;
  }
  
  #sidebar-container .list-group a.active {
    background-color: #673ab7;
    color: white;
    border-bottom: 3px solid #130144;
    outline: none;
    border : 0;
  }
  /* Submenu item*/
  #sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 20px;
    background-color: 		#F0F0F0;
    color: #000000;
  }
  
  #sidebar-container .list-group .sidebar-submenu a:hover{
    background-color: rgb(10, 2, 119);
    color: #ffffff;
    border-bottom: 3px solid #000000;
  }
  
  .sidebar-submenu {
    font-size: 0.9rem;
  }
  
  /* Separators */
  .sidebar-separator-title {
    background-color: #333;
    height: 35px;
  }
  .sidebar-separator {
    background-color: #333;
    height: 25px;
  }
  .logo-separator {
    background-color: #333;    
    height: 60px;
  }
  
  /* Closed submenu icon */
  #sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: ' \25BC';
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
  }
  /* Opened submenu icon */
  #sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: ' \25B2';
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
  }

  .field-icon {
    float: right;
    margin-right: 10px;
    margin-top: -32px;
    position: relative;
    z-index: 2;
  }