  
 /* Search */
  .search-box {
    height: 1.5em;
    background-color: #3f2075;
    border: none;
   }

   .pointer {
    cursor: pointer;
  }

  .text-color {
    color: #ffffff;
  }

  .specialColor {
    background-color: #3f2075;
    color: #ffffff;
    border: none;
    height: 1.5em;
    }

    #uae {
      background: url("../images/uae.png") no-repeat scroll;
    }

    #settings:hover{
      background-color: #6f42c1;
      color: #ffffff;
    }