
.card-1 {
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  padding: 20px;
  margin: 10px;
  background-color: #daf7d8;
  border-radius: 10px 10px 10px 10px;
}

.card-2 {
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  padding: 20px;
  margin: 10px;
  background-color: #e0d7f6;
  border-radius: 10px 10px 10px 10px;
}

.card-4 {
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  padding: 20px;
  margin: 10px;
  background-color: #F7DDD9;
  border-radius: 10px 10px 10px 10px;
}

.card-3 {
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  padding: 20px;
  margin: 10px;
  background-color: #d7e9f7;
  border-radius: 10px 10px 10px 10px;
}

.button-export {
  background-color: #ffffff;
  border-radius: 5px;
  height : 2.7em;
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
}

.filter-note {
  background-color: #ffffff;
  border-radius: 5px 0px 0px 5px;
  height : 2.7em;
  display: inline-block;
  border: 1px solid #ccc;
  width : 5em;
}

.filter-note-text{
  background-color: #ffffff;
  height : 2.7em;
  display: inline-block;
  border: 1px solid #ccc;
  width : 60%;
}
.filter-note-iconBox{
  background-color: #ffffff;
  height : 2.7em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 0px 5px 5px 0px;
}

#notes:hover {
  background-color: #6f42c1;
  color: #ffffff;
}

#filterByNotes {
  border-style: solid none solid none;
}
#input2 {
  border-style: solid solid solid none;
}
.notes-text-icon{
  background: url("../../../assets/images/close.png") no-repeat scroll 0.8em 10px;
}

.searchBtn {
  border: none;
  border-radius: 5px 5px 5px 5px;
  height : 2.7em;
  outline: none;
  width: 100%;
  text-align: center;
  background-color: #673ab7;
  color: #ffffff;
}

.filterByCards{
  background-color: #ffffff;
  height : 2.7em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  width : 100%;
}

#cards:hover {
  background-color: #6f42c1;
  color: #ffffff;
}