  .react-overlay-loader-spinner {
    width: 3em;
    height: 2em;
    background-color: #673ab7;
    border: 0.5em #673ab7 solid;
    border-radius: 0px 0px 1em 1em;
    position: absolute;
    color: #fcfafa;
    }
    .react-overlay-loader-spinner:after, .react-overlay-loader-spinner:before {
    position: absolute;
    content: "";
    }
    .react-overlay-loader-spinner:after {
    width: 1.2em;
    height: 100%;
    border: 0.3em #673ab7 solid;
    border-left: none;
    border-radius: 0px 1em 1em 0px;
    left: calc(100% + 0.1em);
    top: -0.1em;
    }
    .react-overlay-loader-spinner:before {
    width: 2.5px;
    height: 2em;
    top: 1.8em;
    left: 1.7em;
    content: "Pik";
    /* background: #ffd630; */
    border: none;
    box-shadow: 1.4em -1.9em 0px 0px #c1bcc9, -0.3em -1.7em 0px 0px #9a7ecc, 0.8em -1.7em 0px 0px #9a7ecc, 0.2em -1.8em 0px 0px #5d5c5e;
    animation: react-overlay-loader-spinner 0.6s linear infinite alternate;
  }
   
    @keyframes react-overlay-loader-spinner {
    0% {
      height: 22px;
    }
    100% {
      height: 10px;
    }
    }
    